/* You can add global styles to this file, and also import other style files */
body{
    min-height: 100vh;
    background-color: #fff;
}
.navbar{
    width: 250px;
    height: 100vh;
    position: fixed;
    //margin-left: -300px;
    background-color: #7952b3;
    transition: 0.4s;
}
.nav-link{
    font-size: 1.25em;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover{
    background-color: #ffffff26;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
